---
import Logo from "@assets/majo-y-diego/logo.svg";
---
<nav>
    <ul>
        <li><img src={Logo.src} alt="" /></li>
        <li class="date-and-sound">
            <div class="date-top">27/Julio/2025</div>
            <div class="sound-control">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </li>
    </ul>
</nav>

<style lang="scss" is:inline>
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        z-index: 99;
        padding: 20px 0;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 30px;
            margin: 0;
            list-style: none;
            height: 3rem;

            li {
                &.date-and-sound {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .date-top {
                        font-size: 1.1rem;
                        text-transform: uppercase;
                        color: #989898;
                    }
                    .sound-control {
                        font-size: 1rem;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 2px;

                        span {
                            width: 3px;
                            height: 2px;
                            border-radius: 3px;
                            background-color: #989898;
                            animation: soundAnimate 1s linear infinite;

                            &:nth-child(1) {
                                animation-delay: 0;
                            }
                            &:nth-child(2) {
                                animation-delay: 0.3s;
                            }
                            &:nth-child(3) {
                                animation-delay: 0.6s;
                            }
                            &:nth-child(4) {
                                animation-delay: 0.3s;
                            }
                            &:nth-child(5) {
                                animation-delay: 0s;
                            }
                        }

                        &.paused {
                            span {
                                animation: none;
                                // height: 1px;
                            }
                        }
                    }
                }
            }
        }
    }

    @keyframes soundAnimate {
        50% {
            height: 22px;
        }
        100% {
            height: 2px;
        }
    }
</style>

<script is:inline>
    const soundBar = document.querySelector(".sound-control");
    soundBar.addEventListener("click", () => {
        soundBar.classList.toggle("paused");
    });
</script>